@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
:root {
  --primary-font: "poppins", "sans-serif";
  --secondary-font: "Dancing Script", cursive;
  --color-black: #222;
  --color-white: #ffffff;
  --color-primary: #d61c22;
}
body {
  font: size 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
@media screen and (max-width: 27.5rem) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-black);
}
.header-logo {
  text-transform: capitalize;
}
.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-subtitle,
.hero-maintitle {
  color: var(--color-white);
}
.hero-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.hero-subtitle {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 2rem;
}
.hero-maintitle {
  text-transform: capitalize;
  font-family: var(--primary-font);
  font-size: 2.5rem;
  text-align: center;
}
.hero-cta {
  text-decoration: none;
  background-color: var(--color-primary);
  text-transform: capitalize;
  color: var(--color-white);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.about {
  display: grid;
  padding: 3rem 6rem;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 50rem) {
  .about {
    padding: 1rem 0.4rem;
  }
}
@media screen and (max-width: 25rem) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.about-image-img {
  width: 20rem;
  border-radius: 1rem;
  transition: all 1s ease;
}
.about-image-img:hover {
  transform: scale(1.02);
}
.title-subtitle {
  font-family: var(--secondary-font);
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: 2.5rem;
  text-align: center;
}
.title-maintitle {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.about-text {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  color: #777;
  line-height: 1rem;
}
.about-cta {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
}
.about-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 12rem) {
  .about-image-img {
    width: 100%;
    border-radius: 1rem;
    transition: all 1s ease;
  }
  .hero {
    width: 100%;
  }
}
.banner-2 {
  height: 45vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-2-subtitle {
  color: var(--color-primary);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 2rem;
}
.banner-2-maintitle {
  color: var(--color-white);
  font-family: var(--primary-font);
  text-transform: capitalize;
  font-size: 2.5rem;
  text-align: center;
}
.menu {
  padding: 2rem 1.5rem;
}
.menu-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  row-gap: 2rem;
}
.menu-item {
  width: 18rem;
}
.menu-item-image {
  height: 15rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.menu-item-image-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.menu-itemtitle {
  margin: 0.6rem 0;
  text-transform: capitalize;
  font-weight: 300;
}
.menu-item-description {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  text-align: justify;
  line-height: 1rem;
  color: #777;
}
.menu-item-cta {
  text-transform: capitalize;
  text-decoration: none;
  color: #888;
}
